/* .
* kmGjald.css
* Keyrir stíla fyrir kmGjald forritið.
*/

#manKmOutput,
#fjoldiManadaOutput,
#heildKmOutput,
#gjaldPerKmOutput {
    -fx-control-inner-background: #F4F4F4;
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-editable: false;
}